.xcm-manager {
    font-size: 16px;
    &__desc {
        margin: 1rem 1rem 2rem 1rem;
        & > * {
            margin: 1em 0;
        }
    }
    &__headline {
        margin-top: 0;
        margin-bottom: 0.3rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    button {
        cursor: pointer;
    }
}

.xcm-manager-list {

}

.xcm-manager-category {
    transition: 0.2s;
    outline: 2px solid rgba(0, 0, 0, 0);
    &__body {
        .xcm-manager-category:not(.active) & {
            display: none;
        }
        padding: 0.5em 1rem;
    }
    &.active {
        outline: 2px solid rgba(var(--xcm-color-psi-rgb), 0.1);
        border-radius: 0.2rem;
        margin: 0.5em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__vendors {
        margin-top: 0.5rem;
    }
}

.xcm-manager-category-header {
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    padding: 0.5rem 1.0rem;
    border-radius: 0.2rem;
    align-items: center;
    position: relative;
    .xcm-manager-category.active &,
    &:hover {
        background: rgba(var(--xcm-color-psi-rgb), 0.1);
    }

    &__headline {
        font-size: 1.3rem;
        line-height: normal;
    }
    &__metas {
        font-size: 0.9rem;
        line-height: normal;
    }
    &__control {
        display: flex;
        align-items: center;
    }
    &__arrow {
        position: relative;
        width: auto;
        height: 1em;
        display: flex;
        margin-left: 1rem;
        pointer-events: none;
        fill: var(--xcm-color-psi);
        transform: rotateX(180deg);
        .xcm-manager-category.active & {
            transform: rotateX(0deg);
        }
    }
    &__toggle {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0;
        background: none;
        border: none;
    }
}

.xcm-manager-category-switch {
    cursor: pointer;
    &__wrapper {
        display: flex;
        align-items: center;
        background: rgba(var(--xcm-color-psi-rgb), 0.1);
        border-radius: 200rem;
        width: 2.8em;
        height: 1.6em;
        position: relative;
        padding: 0;
        border: none;
        transition: 0.4s;
    }
    input {
        appearance: none;
        -webkit-appearance: none;
        position: absolute;
        width: 0.1rem;
    }
    input:focus-visible + &__wrapper {
        outline: -webkit-focus-ring-color auto 1px;
    }
    &__dot {
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        left: 0.2em;
        background: rgba(var(--xcm-color-psi-rgb), 0.6);
        border-radius: 200rem;
        transition: 0.3s;
    }
    &:hover input:not(:checked) + &__wrapper {
        background: rgba(var(--xcm-color-psi-rgb), 0.3);
    }
    input:checked + &__wrapper {
        background: var(--xcm-color-alpha);
    }
    input:checked + &__wrapper &__dot {
        transform: translateX(1.2em);
        background: var(--xcm-color-omega);
    }
}

.xcm-manager-footer {
    position: sticky;
    margin-top: 2rem;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    &__bg {
        bottom: -3px;
        width: 100%;
        height: 200%;
        pointer-events: none;
        position: absolute;
        backdrop-filter: blur(5px);
        mask-image: linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 1) 0%,
                        rgba(255, 255, 255, 0.5) 50%,
                        rgba(255, 255, 255, 0.15) 65%,
                        rgba(255, 255, 255, 0.075) 75.5%,
                        rgba(255, 255, 255, 0.037) 82.85%,
                        rgba(255, 255, 255, 0.019) 88%,
                        rgba(255, 255, 255, 0) 100%
        );
    }
    &__buttons {
        position: relative;
        display: flex;
        gap: 0.8rem;
        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
    &__button {
        flex-grow: 1;
        flex-basis: 100%;
        border: 2px solid var(--xcm-color-alpha);
        background: var(--xcm-color-omega);
        color: var(--xcm-color-alpha);
        border-radius: 0.3em;
        font-weight: bold;
        padding: 0.5em 1em;
        line-height: 1.3;
        display: block;
        &--primary {
            background: var(--xcm-color-alpha);
            color: var(--xcm-color-chi);
        }
    }
}

.xcm-manager-vendor {
    position: relative;
    padding: 0.3em 1rem;
    margin: 0 -1rem;
    transition: 0.2s;
    &:hover {
        background: rgba(var(--xcm-color-psi-rgb), 0.05);
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        color: var(--xcm-color-alpha);
        font-weight: bold;
    }
    &__button {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border: none;
        background: none;
    }
}

.xcm-vendor-links {
    &__link {
        position: relative;
        display: inline-flex;
        padding: 0.05em 0.5rem;
        color: var(--xcm-color-alpha);
        align-items: center;
        font-weight: bold;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 0.2rem;
            left: 0;
            background: var(--xcm-color-alpha);
            opacity: 0.12;
        }
        &__link-label {
            position: relative;
        }
        svg {
            width: 1rem;
            height: 1rem;
            margin-right: 0.3rem;
            stroke: var(--xcm-color-alpha);
        }
    }
}

.xcm-manager-cookies {
    margin-top: 0.5rem;
    &__item,
    &__header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    &__header {
        font-weight: bold;
    }
}
.xcm-manager-cookie {
    margin: 0 -0.6rem;
    padding: 0.3em 0.6rem;
    border-radius: 0.3rem;
    transition: 0.2s;
    &:hover {
        background: rgba(var(--xcm-color-psi-rgb), 0.07);
    }
    &__heading {
    }
}

.xcm-modal {
    .sx-modal-loading__body,
    .sx-modal-dialog__body {
        background: var(--xcm-color-omega);
        color: var(--xcm-color-psi);
    }
}