@use "manager";
@use "embed-replacer";

:root {
    --xcm-color-alpha: #3192D0;
    --xcm-color-chi: #FFFFFF;
    --xcm-color-omega: #FFFFFF;
    --xcm-color-psi: #000000;
    --xcm-color-psi-rgb: 0, 0, 0;
}